.p-cont{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 100px;
  padding-top: 40px ;
  height: 600px ;
}
.head-cont{
  text-align: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
  color: white;
  font-family: "Roboto";
  font-size: 40px;

}
p{
  font-size: 20px;
  color: silver;
  text-align: center;
  width: 400px;
}
.img-cont{
  width: 600px;
  height: 600px;
 
}
.button-main{
  background-color: red;
  border-radius: 6px;
  color:white;
  width: 180px;
  border: none;
  height: 50px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto";
}
